In [ ]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path = pd.read_csv("output_data/clean.csv")
csv_path.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,46.06,81,75,13.80,AR,1666566814
1,Xai-Xai,-25.0519,33.6442,70.45,86,8,5.59,MZ,1666566814
2,Punta Arenas,-53.1500,-70.9167,50.11,62,0,10.36,CL,1666566658
3,Tuktoyaktuk,69.4541,-133.0374,14.58,80,20,7.25,CA,1666566815
4,Airai,-8.9266,125.4092,67.24,68,95,0.38,TL,1666566815

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key = g_key)

In [30]:
locations = csv_path[['Lat','Lng']]
weight = csv_path["Humidity"]
heatmap_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, max_intensity=100,
                                 point_radius=1)
fig = gmaps.figure()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [29]:
ideal_weather_cond = csv_path.loc[(csv_path["Max Temp"] < 80) & (csv_path["Max Temp"] > 70) &
                                  (csv_path["Wind Speed"] < 10) & (csv_path["Cloudiness"] == 0)]
                                  
                                  
ideal_weather_cond =  ideal_weather_cond.dropna()                                 
ideal_weather_cond

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
50,Hamilton,39.1834,-84.5333,72.23,44,0,8.05,US,1666566563
74,Gaza,31.5000,34.4667,72.41,68,0,8.25,PS,1666566573
80,San Lorenzo,-25.3333,-57.5333,77.94,53,0,6.91,PY,1666566576
95,Russell,32.3502,-85.1999,73.00,67,0,0.00,US,1666566582
106,Saint-Pierre,-21.3393,55.4781,71.91,78,0,4.61,RE,1666566586
130,SÃ£o Filipe,14.8961,-24.4956,79.14,72,0,9.28,CV,1666566596
199,Vallenar,-28.5708,-70.7581,71.42,34,0,4.32,CL,1666566627
254,Salalah,17.0151,54.0924,77.09,73,0,4.61,OM,1666566501
287,Seminole,28.7086,-81.2081,77.38,63,0,6.91,US,1666566392
295,NeuquÃ©n,-38.9516,-68.0591,76.89,23,0,6.91,AR,1666566666
333,Misratah,32.3754,15.0925,72.19,62,0,8.84,LY,1666566682
428,NizwÃ¡,22.9333,57.5333,71.58,40,0,1.92,OM,1666566722
489,Sur,22.5667,59.5289,79.36,38,0,8.37,OM,1666566751
530,Morgan City,29.6994,-91.2068,75.00,68,0,9.22,US,1666566720

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))